services:
  backend-service:
    build: ./src/.
    container_name: backend-service
    volumes:
      - ./:/usr/backend_app/.
    working_dir: /usr/backend_app/.
    ports:
      - "127.0.0.1:8080:8080"
    command: bash -c 'python -m src'
    networks:
      - app-network
    expose:
      - 8080
    depends_on:
      - db-service
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/v1/healthcheck"]
      interval: 30s
      timeout: 20s
      retries: 3
  
  nginx: 
      image: nginx:latest 
      container_name: nginx 
      ports: 
        - "80:80" 
        - "443:443" 
      volumes: 
        - ./nginx/:/etc/nginx/ 
      restart: always
      networks:
      - app-network

  db-service:
    image: postgres:latest
    container_name: db-service
    volumes:
      - postgres_data:/var/lib/postgresql/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - app-network
    ports:
      - 127.0.0.1:5432:5432
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge